*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
  #content {
        width    : 100%;
        height   : 100%;
        overflow : hidden;
        position: absolute;
    }
    .content-wrap {
       position : absolute;
       width: 300%; 
       height: 100%;
      /* left: -50%;*/
    }
    .content-wrap > li {
        width: 33.333333333%;
        height: 100%;
        background: #CAE1FF;
        color: red;
        float: left;
        overflow: hidden;
        position: relative;
}