@charset "utf-8";
/* CSS Document */
body{
	font-size:14px;
	font-family:"微软雅黑";
}
input,section,option{
	padding:0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
.cw{
	width:1000px;
	margin:0 auto;
}
.left{
	float:left;
}
.right{
	float:right;
}
.dlnav p a{
	color: #000;
}

.dlnav{
	line-height: 30px;
	height: 30px;
	background-color: #E9E9E9;
	font-size: 12px;
}
.dlnav p .dl{
	padding-right: 10px;
	border-right: 1px solid #CCCCCC;
}
.dlnav p .zc{
	padding-left: 10px;
}
.dlnav ul li{
	float: left;
}
.dlnav ul li a{
	color: #AFAFAF;
	padding: 0px 12px;
	border-right: 1px solid #CCCCCC;
}
.dlnav ul li:last-child a{
	padding-right: 0px;
	border-right:none;
}
.dlnav ul li .gzwm{
	padding-right: 25px;
	background: url(../img/gzwm.png) no-repeat 64px center;
}
.lgnav .cw{
	height: 36px;
	padding: 22px 0px;
	line-height: 36px;
	background: url(../img/logo.png) no-repeat left 17px;
}
.lgnav .cw input{
	vertical-align: middle;
	line-height: 34px;
}
.lgnav .cw .ss{
	margin-right: 15px;
	width: 456px;
	font-size: 14px;
	text-indent: 10px;
	background: url(../img/ss.png) no-repeat right 10px center;
	border: none;
	border: 1px solid #999999;
}
.lgnav h3{
	color: #333333;
	margin: 8px 0px;
	margin-left: 184px;
	font-size: 18px;
	text-indent: 14px;
	line-height: 20px;
	border-left: 1px solid #999999;
}
.lgnav section{
	border: 1px solid #999999;
	line-height: 34px;
	font-size: 12px;
	color: #BDBDBD;
	padding:0px 30px 0px 15px;
	background: url(../img/sj.png) no-repeat 74px center;
	cursor: pointer;
}
.nav{
	height: 45px;
	background-color: #0DA3F9;
	line-height: 45px;
}
.nav .left li{
	float: left;
	padding:0px 20px;
}
.nav .left li.active{
	background-color: #0289D7;
}
.nav .left li a{
	color: #fff;
}
.nav .right{
	padding-left: 35px;
	background: url(../img/lb.png) no-repeat left center;
}
.nav .right a{
	display: inline-block;
	width: 205px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
}
.nav .right li{
	overflow: hidden;
	height: 45px;
}
.mbxnav{
	overflow: hidden;
	line-height: 45px;
}
.mbxnav ul li{
	float: left;
}
.mbxnav ul li span{
	padding: 0 7px;
}
.mbxnav ul li a{
	color: #0DA3F9;
}
/*服务市场主体部分*/
.fwsczt{
	overflow: hidden;
}
.fwsczt .left ul{
	overflow: hidden;
	border-bottom:1px solid #CCCCCC;
}
.fwsczt .left li{
	width: 168px;
	border:1px solid #CCCCCC;
	border-bottom: none;
	line-height: 34px;
	text-indent: 40px;
	position: relative;
	cursor: pointer;
}
.fwsczt .left li span{
	position: absolute;
	top:0px;
	right: 30px;
}
.fwsczt .left li.active{
	background-color: #F6F6F6;
	color: #2EA9F9;
	border-left: 2px solid #2EA9F9;
	width: 167px;
	text-indent: 39px;
}
.fwsczt .left li:hover{
	background-color: #F6F6F6;
}
.fwsczt .right{
	width: 814px;
}
.fwsczt .right .tou{
	overflow: hidden;
	border: 1px solid #CCCCCC;
}
.fwsczt .right .tou{
	line-height: 34px;
}
.fwsczt .right .tou .an{
	display: inline-block;
	width: 105px;
	text-indent: 25px;
	border-right: 1px solid #CCCCCC;
	cursor:pointer;
	position: relative;
}
.fwsczt .right .tou .an.active{
	color: #2EA9F9;
}
.fwsczt .right .tou .an:last-child{
	width: 96px;
}
.fwsczt .right .tou .an img{
	position: absolute;
	right: 18px;
	top:10px;
}
.fwsczt .xia,.fwsyzt .xia{
	margin-top: 20px;
}
.fwsczt .xia li,.fwsyzt .xia li{
	border:1px solid #CCCCCC;
	float: left;
	width: 190px;
	padding-bottom: 8px;
	margin-right: 15px;
	margin-bottom: 20px;
}
.fwsczt .xia li:hover,.fwsyzt .xia li:hover{
	border: 1px solid #009efe;
}
.fwsyzt .xia li{
	width: 226px;
	margin-right: 20px;
	padding-bottom: 14px;
}
.fwsczt .xia li.guan{
	background: url(../img/guan.png) no-repeat 161px 184px;
}
.fwsyzt .xia li.guan{
	background: url(../img/guand.png) no-repeat 195px 211px;
}
.fwsczt .xia li.qi{
	background: url(../img/qi.png) no-repeat 161px 184px;
}
.fwsyzt .xia li.qi{
	background: url(../img/qid.png) no-repeat 195px 211px;
}
.fwsczt .xia .jg,.fwsyzt .xia .jg{
	color: red;
	line-height: 30px;
	font-size: 14px;
}
.fwsczt .xia .jg span,.fwsyzt .xia .jg span{
	font-size: 8px;
	margin-left: 10px;
}
.fwsczt .xia p,.fwsyzt .xia p{
	text-indent: 10px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden;
	line-height: 20px;
}
.fwsczt .xia .yymc,.fwsyzt .xia .yymc{
	color: #000;
	max-width: 145px;
}
.fwsczt .xia .fws,.fwsyzt .xia .fws{
	font-size: 10px;
	text-indent: 30px;
	text-decoration: underline;
	color: #919191;
	background: url(../img/fws.png) no-repeat 10px center;
}
 .fy li{
	font-size: 12px;
	float: left;
	line-height: 18px;
	border: 1px solid #ccc;
	margin-left: 8px;
}
.fwsczt .fy li.syy,.fwsyzt .fy li.syy{
	background: url(../img/syy.png) no-repeat 5px center;
}
.fwsczt .fy li.xyy,.fwsyzt .fy li.xyy{
	background: url(../img/xyy.png) no-repeat 52px center;
}
.fwsczt .fy li a,.fwsyzt .fy li a{
	display: inline-block;
	padding:0px 12px;
	color: #333333;
}
.fwsczt .fy span,.fwsyzt .fy span{
	float: left;
	margin-left: 8px;
}
.fwsczt .fy ul,.fwsyzt .fy ul{
	display: inline;
	float: right;
}
.yj{
	clear: both;
	margin-top: 50px;
	overflow: hidden;
	background-color: #F0F0F0;
	border:1px solid #E6E6E6 ;
}
.yj ul li{
	width: 144px;
	float: left;
}
.yj ul{
	padding:20px 0px;
	overflow: hidden;
}
.yj ul ul{
	padding:10px 0px;
	overflow: hidden;
}
.yj ul li{
	margin-right: 70px;
}
.yj ul li h3{
	line-height: 45px;
	font-size: 16px;
	font-weight: 600;
	color: #6A6A6A;
	border-bottom: 1px solid #E2E2E2;
}
.yj ul li li{
	line-height: 30px;
	font-size: 14px;
}
.yj ul li li a{
	color: #57A5DA;
}
.yj ul.yi{
	border-bottom: #E6E6E6 1px solid;
}
.footer{
	padding: 20px;
	padding-bottom: 50px;
}
.footer p{
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #BDBDBD;
}
.footer p.mb{
	margin-bottom: 12px;
}
.footer p a{
	font-size: 16px;
	color: #868686;
	padding: 0 20px;
}
/*服务商页*/
.fwsygs{
	overflow:hidden;
	padding: 20px 0px; 
	background-color: #F6F6F6;
}
.fwsygs .left{
	margin-right: 20px;
}
.fwsygs h3 {
	float: left;
	font-size: 16px;
	position: relative;
	margin-bottom: 5px;
}
.fwsygs h3 img{
	position: absolute;
	top:0px;
}
.fwsygs h3 .gw{
	right: -22px;
}
.fwsygs h3 .qq{
	right: -44px;
}
.fwsygs p{
	clear: both;
	font-size: 12px;
	line-height: 20px;
	max-width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fwsygs p span{
	color: #BBBBBB;
	margin-right: 3px;
}
.fwsygs p .jiange{
	letter-spacing: 3px;
}
.fwsyzt{
	overflow: hidden;
	margin-bottom: 40px;
	margin-top: 20px;
}
.fwsyzt .left{
	width: 725px;
}
.fwsyzt .left .tou{
	line-height: 48px;
	border: 1px solid #ccc;
	font-size: 18px;
}
.fwsyzt .left .tou span{
	display: inline-block;
	padding: 0px 25px;
	border-right: 1px solid #ccc;
	cursor: pointer;
}
.fwsyzt .left .tou span.active{
	background-color: #F6F6F6;
	color: #0DA3F9;
}
.fwsyzt .right{
	width: 256px;
}
.fwsyzt .right .nr{
	border: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 10px;
}
.fwsyzt .right h3{
	padding:0px 20px;
	line-height: 48px;
	background-color: #F5F5F5;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #ccc;
}
.fwsyzt .right .nrx{
	padding:20px 20px;
	line-height: 18px;
	color: #D0D0D0;
}
.fwsyzt .right .nrx .gg{
	color: #000;
}
.fwsyzt .right .qq{
	line-height: 57px;
}
.fwsyzt .right .qq p{
	position: relative;
	padding:0 20px;
}
.fwsyzt .right .qq p:first-child{
	border-bottom: 1px solid #ccc;
}
.fwsyzt .right .qq p img{
	position: absolute;
	right: 20px;
	top:18px;
}