@charset "utf-8";
/* CSS Document */
body{
	font-size: 12px;
	font-family:"微软雅黑";
	min-width: 1000px;
}
a{
	text-decoration: none;
}
.cw{
	width: 1000px;
	margin: 0 auto;
}
.left{
	clear: both;
	float: left;
}
.right{
	float: right;
}
.dlnav{
	color: #FFF;
	background-color: #128ED4;
	height: 30px;
}
.dlnav a{
	display: inline-block;
	margin: 7px 0px;
	color: #FFF;
	line-height: 16px;
}
.dlnav .dl{
	border-right: 1px solid #41A5DD;
	padding-right: 10px;
}
.dlnav .zc{
	padding-left: 10px;
}
.dlnav ul li{
	float: left;
}
.dlnav ul li a{
	padding: 0 10px;
}
.dlnav ul li a{
	border-right:1px solid #41A5DD;
}
.dlnav ul li:last-child a{
	border-right: none;
}
.dlnav ul li:first-child a{
	padding-right: 20px;
}
.dlnav ul li.glht {
	background:url(../img/htgl.png) no-repeat 2px center;
}
.dlnav ul li.bzzx a{
	padding-right: 20px;
	background:url(../img/bzzx.png) no-repeat 63px center;
}
.dlnav ul li.bzzx{
	position: relative;
}
.dlnav ul li.bzzx ul{
	display: none;
	padding-top: 10px;
	position: absolute;
	width: 102px;
	height: 96px;
	top: 30px;
	left:-10px;
	background:url(../img/xl.png) no-repeat;
}
.dlnav ul li.bzzx ul li{
	clear: both;
	margin: 3px 0px;
}
.dlnav ul li.bzzx ul li a{
	margin: 0px;
	color: #128ED4;
	border: none;
	padding:0px 26px;
}
.dlnav ul li.bzzx ul li a:hover{
	background-color: #128ED4;
	color: #FFF;
}
/*微盟导航*/
.wmnav{
	height: 60px;
	background-color: #0EA4F9;
}
.wmnav .left img{
	margin:7px 10px 0px 0px;
}
.wmnav .yi{

}
.wmnav .yi li{
	float: left;
}
.wmnav .yi li a{
	padding: 0px 12px;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 60px;
	color: #FFF;
}
.wmnav .yi li:hover{
	background-color: #0B99E5;
}
.wmnav .jjfa{
	position: relative;
}
.wmnav .yi ul{
	display: none;
	position: absolute;
	top:60px;
	left: 0px;
	border-bottom: 2px solid #0ba1fa;
	background-color: #FFF;
	padding: 10px 0px;
}
.wmnav .yi ul a{
	display: block;
	width: 116px;
	padding:0 20px;
	color: #959595;
	line-height: 24px;
}.dbnner{
	position: relative;
	overflow: hidden;
}
.banner {
	width: 500%;
	height: 373px;
	overflow: hidden;
}
.banner .bns{
	float: left;
	width: 20%;
	height: 374px;
	background-color: #9AABFF;
	overflow: hidden;
}
.banner .bns .cw{
	height: 374px;
	overflow: hidden;
}
.banner .bns img{
	border: none;
}
.banner ul{
	position: absolute;
	top:338px;
	left:50%;
	margin-left: -55px;
}
.banner ul li{
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	margin: 0px 3px;
	background-color: #8D8D8D;
}
.banner ul li.active{
	background-color: #FFF;
}
.banner span{
	position: absolute;
	cursor: pointer;
}
.banner span.zuo{
	left:0px;
	top:163px;
}
.banner span.you{
	left:100%;
	top:163px;
	margin-left: -46px;
}
.xnav{
	font-family: "微软雅黑";
	overflow: hidden;
	line-height: 30px;
	clear: both;
	background-color: #FFFFFF;
}
.xnav ul li{
	float: left;
	width: 190px;
	padding-left: 20px;
	background: url(../img/dian.png) no-repeat left center;
}
.xnav ul li span{
	margin-right: 8px;
}
.xnav ul li:first-child{
	background: url(../img/laba.png) no-repeat left center;
}
.xnav a{
	color: #A0A0A0;
}
.cpzx{
	overflow: hidden;
	height: 418px;
	background-color: #F0F0F0;
}
.tou{
	font-family: "微软雅黑";
	line-height: 74px;
	overflow: hidden;
}
.tou hr{
	float: left;
	width: 680px;
	margin-left: 20px;
	margin-top: 38px;
	border-top:1px solid #ccc;
}
.wsjj .tou hr{
	width: 727px;
}
.tou h3{
	font-size: 26px;
	font-weight: 400;
	float: left;
	padding-right: 95px;
	background: url(../img/tp.png) no-repeat right center;
}
.tou a{
	font-size: 15px;
	color: #747474;
}
.cpzxx{
	position: relative;
}
.cpzxx .zuo,.cpzxx .you{
	position: absolute;
	display: inline-block;
	width: 24px;
	height: 47px;
	background-color: #000;
	opacity: 0.2;
	top:116px;
	overflow: hidden;
	cursor: pointer;
}
.cpzxx .zuo:hover,.cpzxx .you:hover{
	opacity: 0.5;
}
.cpzxx .zuo img,.cpzxx .you img{
	margin-top: 16px;
	margin-left: 5px;
}
.cpzxx .zuo{
	left: 8px;
}
.cpzxx .you{
	right: 10px;
}
.cpzxx .rq{
	font-family: "微软雅黑";
	width: 190px;
	height: 279px;
	float: left;
	margin-left: 8px;
	overflow: hidden;
}
.cpzxx .zxxt{
	background: url(../img/zx.png) no-repeat;
}
.cpzxx .hdxt{
	background: url(../img/hd.png) no-repeat;
}
.cpzxx .xfxt{
	background: url(../img/xfxt.png) no-repeat;
}
.cpzxx .fxxt{
	background: url(../img/fxxt.png) no-repeat;
}
.cpzxx .fxxt1{
	background: url(../img/fxxt1.png) no-repeat;
}
.cpzxx .jyxt{
	background: url(../img/jyxt.png) no-repeat;
}
.cpzxx .kfxt{
	background: url(../img/kfxt.png) no-repeat;
}
.cpzxx .znyj{
	background: url(../img/znyj.png) no-repeat;
}
.cpzxx .rq:hover .shang{
	display: none;
}
.cpzxx .rq:hover  ul{
	display: block;
}
.cpzxx .shang h4{
	margin-top: 220px;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.cpzxx .shang h4,.cpzxx .shang p{
	text-align: center;
}
.cpzxx .shang p{
	font-size: 14px;
	color: #BFBFBF;
	line-height: 34px;
}
.cpzxx .rq ul{
	display: none;
	height: 279px;
	overflow: hidden;
	background-color: #FFFFFF;
}
.cpzxx .rq ul li{
	padding:12px 0px 12px 12px;
}
.cpzxx .rq ul li:hover{
	background-color: #F5F5F5;
}
.cpzxx .rq ul li p{
	color: #B1B1B1;
	line-height: 14px;
}
.cpzxx .rq ul li h5{
	color: #000;
	font-size: 16px;
	margin-bottom: 3px;
}
.cpzxx .rq ul img{
	float: left;
	margin-right: 10px;
}
.cpzxx .xian{
	border-bottom: #F5F5F5 solid 1px;
}
.cpzxx .dian{
	position: absolute;
	top:306px;
	left: 50%;
	margin-left: -16px;
}
.cpzxx .dian li{
	float: left;
	margin: 0px 3px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #c4c4c4;
}
.cpzxx .dian li.active{
	background-color: #828282;
}
.cpzxx .ye.none{
	display: none;
}
/*微商解决方案*/
.wsjj .zhong p,.zhcs .zhong p{
	font-size: 14px;
	line-height: 20px;
	text-indent: 2em;
	color: #8A8A8A;
}
.wsjj .zhong a,.zhcs .zhong a{
	margin-left: 25px;
}
.wsjjx{
	margin-top: 20px;
}
.wsjjx .cpzc{
	float: left;
}
.wsjjx .khal{
	width:304px;
	float: left;
	padding-left:30px;
}
.cpzc{
	overflow: hidden;
	width:665px;
	border-right: 1px solid #dcdcdc;
}
.cpzc h3,.khal h3{
	font-size: 16px;
	line-height: 56px;
	color: #848484;
}
.cpzc li img{
	height: 32px;
	width:auto;
	margin: 16px 0px 11px 0px;
}
.cpzc li a{
	color: #848484;
}
.cpzc li{
	padding:12px 16px;
	text-align: center;
	float: left;
	margin-right: 6px;
	margin-bottom: 10px;
}
.cpzc li:hover{
	background-color: #26B8F4;
}
.cpzc li:hover a{
	color: #fff;
}
.cpzc li .t{
	width: 70px;
	padding-bottom: 18px;
	border-bottom: #dcdcdc 1px solid;
}
.khal li{
	padding:22px 0px;
	float: left;
	margin-right: 40px;
}
.khal li p{
	text-align: center;
	color: #848484;
	line-height: 30px;
}
.zhct{
	clear: both;
	padding-bottom: 20px;
	overflow: hidden;
	background-color: #F0F0F0;
}
.zhct hr{
	width: 675px;
}
.zhctx .left{
	width: 324px;
	padding-top: 20px;
}
.zhctx .left p{
	text-align: center;
	color: #909090;
	font-size: 14px;
	line-height: 20px;
	margin: 10px 17px;
	padding: 20px 18px;
}
.zhctx .left p.first{
	background: url(../img/yinhao.png) no-repeat;
	margin-bottom: 25px;
}
.zhctx .left p.sec{
	background: url(../img/yinhao2.png) no-repeat;
	margin:8px 17px 0px 17px;
}
.zhctx .right .cpzc{
	border: 0px;
}
.zhctx .right .cpzc h3{
	padding-left: 12px;
}
.zhctx .right .khal li{
	padding: 0px;
	margin-right: 49px;
}
.zhctx .right .khal{
	padding-left: 12px;
} 
.zhcs .tou hr{
	width: 675px;
}
.zhcs .khal li{
	width: 72px;
	text-align: center;
	margin-right: 29px;
}
#cpzc ul li{
	padding:12px 7px;
}
#cpzc ul li .t {
	width: 90px;
}
.dt hr{
	width: 831px;
}
.dtxx{
	width: 327px;
	float: left;
	font-size: 14px;
	color: #434343;
	margin-right: 9px;
}
.dtxx .s{
	line-height: 50px;
	overflow: hidden;
} 
.dtxx .s h3{
	font-weight: bold;
	font-size: 16px;
}
.dtxx .s a{
	color: #434343;
}
.dtxx .z{
	border: 1px solid #ccc;
	line-height: 85px;
	text-indent: 35px;
	margin-bottom: 5px;
}
.dtxx .z p{
	background: url(../img/fj.png) no-repeat  218px center;
}
.dtxx ul {
	line-height: 30px;
	font-size: 15px;
}
.dtxx ul span{
	float: left;
	margin: 0px 8px;
	color: #ccc;
}
.dtxx ul a{
	float: left;
	display:block;
	width: 255px;
	color: #434343;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.zxhd .z{
	line-height: 0px;
	text-indent: 0px;
}
.cpdt .z p{
	background: url(../img/cpdt.png)  no-repeat  218px center;
}
.dt{
	overflow: hidden;
	padding-bottom: 20px;
}
.yj{
	overflow: hidden;
	background-color: #F0F0F0;
}
.yj ul li{
	width: 144px;
	float: left;
}
.yj ul{
	padding:20px 0px;
	overflow: hidden;
}
.yj ul ul{
	padding:10px 0px;
	overflow: hidden;
}
.yj ul li{
	margin-right: 70px;
}
.yj ul li h3{
	line-height: 45px;
	font-size: 16px;
	font-weight: 600;
	color: #6A6A6A;
	border-bottom: 1px solid #E2E2E2;
}
.yj ul li li{
	line-height: 30px;
	font-size: 16px;
}
.yj ul li li a{
	color: #57A5DA;
}
.yj ul.yi{
	border-bottom: #E6E6E6 1px solid;
}
.yj ul li li img{
	margin-top: 20px;
}
.footer{
	padding: 20px;
}
.footer p{
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	color: #BDBDBD;
}
.footer p a{
	font-size: 16px;
	color: #868686;
	padding: 0 20px;
}